<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a student</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .field {
            width: 240px;
        }
    </style>
</head>

<body>
    {{> menu}}
    <h1>Creating a student</h1>
    <form method="POST">
        <label>Name</label><br>
        <input name="name" class="field form-control" required /><br><br>
        <label>Surname</label><br>
        <input name="surname" class="field form-control" required /><br><br>
        <label>Age</label><br>
        <input name="age" type="number" class="field form-control" min="5" max="100" required /><br><br>
        <label>E-mail</label><br>
        <input name="email" type="email" class="field form-control" size="255" required /><br><br>
        <label>Id_group</label><br>
        <input name="group" type="number" class="field form-control" min="1" max="50" required /><br><br>
        <input type="submit" value="Отправить" class="btn btn-sm btn-primary" />
    </form>
    <br/>
    <a href="http://localhost:3000/students/">Back to list of students</a>
    <br>
    {{> footer}}

</body>

</html>